* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #636363;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #636363;
}

button {
  cursor: pointer;
}

.btn-gradient {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  outline: 0;
  text-transform: uppercase;
  line-height: 1.2;
}
.btn-gradient:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.section-inner {
  padding-top: 115px;
}

.title__center {
  text-align: center;
}
.title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.backToTop {
  position: fixed;
  right: 10px;
  bottom: 20px;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #f55f8d;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.header {
  width: 80%;
  margin: 0 auto;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
.header__content nav ul {
  display: flex;
  margin-right: 30px;
}
.header__content nav ul li {
  padding: 55px 15px;
}
.header__content nav ul li a {
  color: #070120;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s;
}
.header__content nav ul li a i {
  font-size: 9px;
  margin-top: -3px;
  vertical-align: middle;
}
.header__content nav ul li a span {
  padding-right: 3px;
}
.header__content nav ul li a:hover {
  color: #f55f8d;
}
.header__content nav ul li a:hover span {
  display: inline-block;
  animation: upToDown 0.3s;
}
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

.carousel {
  padding-top: 180px;
  overflow: hidden;
  background-image: url(../img/pic2.png);
  background-position: top;
  background-size: 100%;
}
.carousel__content {
  display: flex;
  align-items: center;
}
.carousel__content__left {
  width: 60%;
}
.carousel__content__right {
  width: 40%;
}
.carousel__article p {
  font-size: 18px;
  margin-bottom: 15px;
}
.carousel__article ul {
  margin-bottom: 20px;
}
.carousel__article ul li {
  padding: 10px 5px 10px 0;
  font-size: 20px;
}
.carousel__article ul li i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  margin-right: 10px;
}
.carousel__banner {
  width: 570px;
  margin-left: 50px;
}
.carousel__banner img {
  width: 100%;
  display: block;
}

.services {
  padding-bottom: 0;
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}
.services__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.services__item {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 45px;
  transform: translateY(0);
  transition: all 0.5s;
}
.services__item:hover {
  transform: translateY(-20px);
}
.services__item img {
  width: 80%;
}
.services__item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}

.about {
  padding-bottom: 85px;
  background-image: url(../img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  overflow: hidden;
}
.about__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.about__content__left {
  width: 60%;
  position: absolute;
  left: -17%;
}
.about__content__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}
.about__content__right {
  width: 50%;
}
.about__content__right p {
  margin-bottom: 15px;
}
.about__content__right ul {
  margin-bottom: 30px;
}
.about__content__right ul li i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}

.number {
  background-image: url(../img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}
.number__content {
  display: flex;
}
.number__content__item {
  width: 25%;
}
.number__content__item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}
.number__content__item p:last-of-type {
  color: #636363;
  font-size: 18px;
}
.number__content__item i {
  font-size: 45px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}

.features {
  background-image: url(../img/bg2.png);
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.features__content {
  display: flex;
}
.features__left {
  width: 50%;
}
.features__group__item {
  padding: 0 50px 30px 0;
}
.features__group__item:nth-of-type(2) {
  padding: 0 0 30px 50px;
}
.features__group__item__bg {
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.features__group__item__bg::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  opacity: 0;
  transition: all 1s;
}
.features__group__item__bg:hover::after {
  opacity: 1;
}
.features__group__item__bg i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: all 1s;
}
.features__group__item__bg div {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}
.features__group__item__bg div h3 {
  font-weight: 800;
  font-size: 1.5rem;
  color: #262626;
  transition: all 1s;
}
.features__group__item__bg:hover i {
  color: white;
}
.features__group__item__bg:hover div {
  color: #fff;
}
.features__group__item__bg:hover div h3 {
  color: #fff;
}
.features__right {
  width: 50%;
}
.features__right__banner {
  margin-right: -80px;
}
.features__right__banner img {
  width: 100%;
  animation: movee 5s infinite;
}
@keyframes movee {
  0% {
    transform: rotate(2deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-2deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(2deg) translate(2px, 2px);
  }
}

.portfolio {
  background-image: url(../img/bg17.png);
  background-size: cover;
  text-align: center;
}
.portfolio__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}
.portfolio__content__item {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.portfolio__content__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio__content__item::before {
  content: "";
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 100%);
  transform: skew(-20deg);
  transition: all 0.75s;
}
.portfolio__content__item:hover::before {
  left: 125%;
}
.portfolio__content__item:hover .portfolio__overlay {
  opacity: 1;
}
.portfolio__content__item:hover .portfolio__overlay__icon {
  transform: translate(0, 0);
}
.portfolio__content__item:hover .portfolio__overlay__text {
  transform: translateY(0);
}
.portfolio__content__item1 {
  grid-column: 1/span 2;
}
.portfolio__content__item5 {
  grid-column: 1/span 2;
}
.portfolio__content__item6 {
  grid-column: 3/span 1;
  grid-row: 2/span 2;
}
.portfolio__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}
.portfolio__overlay__icon {
  position: absolute;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  border-radius: 10px;
  background-size: 200%;
  top: 20px;
  right: 20px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}
.portfolio__overlay__icon i {
  color: #fff;
}
.portfolio__overlay__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  transform: translateY(30px);
  transition: all 0.75s;
  color: #fff;
}
.portfolio__overlay__text h3 {
  font-size: 22px;
}
.portfolio__overlay__text p {
  opacity: 0.7;
}

.plan {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.plan__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.plan__content__item {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  border-image: 100 round;
}
.plan__content__item h3 {
  font-size: 2rem;
  color: #262626;
  font-weight: 700;
}
.plan__content__item img {
  width: 51%;
}
.plan__content__item p {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}
.plan__content__item p span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}
.plan__content__item ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}
.plan__content__item ul li {
  padding: 5px 0;
}
.plan__content__item ul li i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 50%;
  margin-right: 15px;
}
.plan__content__item:hover {
  border-image: url(../img/br.png) 1 round;
}

.testimonial {
  text-align: center;
  background-image: url(../img/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonial__content {
  min-height: 300px;
}

.testimonial__thumbs {
  width: 300px;
  height: 170px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
.testimonial__thumbs::before {
  position: absolute;
  content: "";
  width: 10%;
  height: 100%;
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
  top: 0;
  left: 0;
  z-index: 3;
}
.testimonial__thumbs::after {
  position: absolute;
  content: "";
  width: 10%;
  height: 100%;
  background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
  top: 0;
  right: 0;
  z-index: 3;
}
.testimonial__thumbs__pic {
  padding-top: 30px;
}
.testimonial__thumbs__pic::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f55f8d;
  left: 50%;
  bottom: 16%;
  transform: translateX(-50%);
  opacity: 0;
}
.testimonial__thumbs__pic::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f55f8d;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  opacity: 0;
}
.testimonial__thumbs__pic img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f55f8d;
  padding: 5px;
  position: relative;
  z-index: 2;
}

.shape-bx {
  height: 35px;
  width: 50px;
  background-color: #f55f8d;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
  transition: all 1s;
}
.shape-bx::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background-image: url(../img/pattern12.png);
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-size: contain;
  transition: all 1s;
}

.testimonial__comment {
  min-height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.testimonial__text {
  width: 72%;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}
.testimonial__text i {
  position: absolute;
  font-size: 70px;
  left: 30px;
  top: 10px;
  transform: rotate(-180deg);
  color: #f55f8d;
}
.testimonial__text h3 {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}
.testimonial__text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}
.testimonial__text p:first-of-type {
  color: #f55f8d;
  margin-bottom: 20px;
}

.swiper-slide-thumb-active .shape-bx {
  opacity: 1;
}

.swiper-slide-thumb-active .testimonial__thumbs__pic {
  padding: 0 0 40px;
  transition: all 0.75s;
}

.swiper-slide-thumb-active .testimonial__thumbs__pic::before {
  opacity: 1;
}

.swiper-slide-thumb-active .testimonial__thumbs__pic::after {
  opacity: 1;
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
}

.swiper-pagination-bullet-active {
  background: #f55f8d;
}

.blog {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
}
.blog__item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}
.blog__item__header {
  position: relative;
}
.blog__item__header img {
  width: 100%;
  border-radius: 8px;
}
.blog__item__header p {
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  bottom: -10%;
  left: 15px;
}
.blog__item__body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.blog__item__body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}
.blog__item__footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.blog__item__footer p:first-of-type {
  margin-right: 20px;
}
.blog__item__footer p:first-of-type span {
  color: #f55f8d;
}
.blog__item__footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: middle;
}

footer {
  background-image: url(../img/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}
footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer__top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}
.footer__top__text {
  width: 50%;
}
.footer__top__text h2 {
  font-size: 1.75rem;
  color: #262626;
}
.footer__top__form {
  flex: 1;
}
.footer__top__form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
}
.footer__top__form form input {
  padding: 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: 0;
  transition: all 0.5s;
}
.footer__top__form form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-color: transparent;
  transition: all 0.5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
}
.footer__top__form form button:hover {
  background-position: right center;
}
.footer__bot {
  display: flex;
  padding: 70px 0;
  position: relative;
}
.footer__bot__item {
  width: 25%;
}
.footer__bot__item li {
  padding: 0.5rem 0;
}
.footer__bot__item li a {
  font-size: 1rem;
  transition: 0.5s;
}
.footer__bot__item li a i {
  margin-right: 10px;
}
.footer__bot__item li a:hover {
  color: #ffffff;
}
.footer__bot__item h3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
}
.footer__bot__item h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5.2%;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
.footer__bot__item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 7%;
  width: 15.5%;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
.footer__bot__item__contact li {
  display: flex;
  align-items: center;
}
.footer__bot__item__contact li i {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}
.footer__copyright {
  background-color: #1f343b;
  padding: 10px 0;
}

.copyright__content {
  display: flex;
  justify-content: space-between;
  line-height: 32px;
}
.copyright__content__left span a {
  color: #f55f8d;
  font-weight: bold;
}
.copyright__content__Right a {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  line-height: 32px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}
.copyright__content__Right a:hover {
  background-color: #f55f8d;
}

/*# sourceMappingURL=app.css.map */
