@import "./variables";
.features {
    background-image: url(../img/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    &__content {
        display: flex;
    }
    &__left {
        width: 50%;
    }
    &__group {
        &__item {
            padding: 0 50px 30px 0;
            &:nth-of-type(2) {
                padding: 0 0 30px 50px;
            }
            &__bg {
                box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
                padding: 30px;
                background-color: #fff;
                border-radius: 10px;
                display: flex;
                align-items: center;
                position: relative;
                overflow: hidden;
                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    right: 0;
                    background-image: $bgImgMain;
                    opacity: 0;
                    transition: all 1s;
                }
                &:hover::after {
                    opacity: 1;
                }
                i {
                    font-size: 80px;
                    line-height: 1;
                    color: $textPrimaryColor;
                    z-index: 1;
                    transition: all 1s;
                }
                div {
                    padding-left: 25px;
                    z-index: 1;
                    transition: all 1s;
                    h3 {
                        font-weight: 800;
                        font-size: 1.5rem;
                        color: $textSecondColor;
                        transition: all 1s;
                    }
                }
                &:hover {
                    i {
                        color: #ffff;
                    }
                    div {
                        color: #fff;
                        h3 {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    &__right {
        width: 50%;
        &__banner {
            margin-right: -80px;
            img {
                width: 100%;
                animation: movee 5s infinite;
            }
            @keyframes movee {
                0% {
                    transform: rotate(2deg) translate(2px, 2px);
                }
                50% {
                    transform: rotate(-2deg) translate(-2px, -2px);
                }
                100% {
                    transform: rotate(2deg) translate(2px, 2px);
                }
            }
        }
    }
}