@import"./variables";
.portfolio {
    background-image: url(../img/bg17.png);
    background-size: cover;
    // background-position: top center;
    text-align: center;
    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr) 1.5fr;
        gap: 35px;
        &__item {
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &::before {
                content: "";
                top: 0;
                left: -100%;
                width: 50%;
                height: 100%;
                position: absolute;
                background: $bgTransparent;
                transform: skew(-20deg);
                transition: all 0.75s;
            }
            &:hover::before {
                left: 125%;
            }
            &:hover .portfolio__overlay {
                opacity: 1;
                &__icon {
                    transform: translate(0, 0);
                }
                &__text {
                    transform: translateY(0);
                }
            }
        }
        &__item1 {
            grid-column: 1 /span 2;
        }
        &__item5 {
            grid-column: 1/span 2;
        }
        &__item6 {
            grid-column: 3/span 1;
            grid-row: 2/span 2;
        }
    }
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .4);
        // background-color: red;
        opacity: 0;
        transition: all 0.75s;
        &__icon {
            position: absolute;
            font-size: 28px;
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            background-image: $bgImgMain;
            border-radius: 10px;
            background-size: 200%;
            top: 20px;
            right: 20px;
            transform: translate(20px, -20px);
            transition: all 0.75s;
            i {
                color: #fff;
            }
        }
        &__text {
            position: absolute;
            bottom: 30px;
            left: 30px;
            transform: translateY(30px);
            transition: all 0.75s;
            color: #fff;
            h3 {
                font-size: 22px;
            }
            p {
                opacity: 0.7;
            }
        }
    }
}