$textPrimaryColor:#f55f8d;
$textSecondColor:#262626;
$textThirdColor:#070120;
$textMain:#636363;
$textWhite:#ffffff;
$bgImgMain: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
$bgTransparent:linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 100%);
$bgTransparentToright:linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
$bgTransparentToLeft:linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);