@import "./variables";
footer {
    background-image: url(../img/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
    &::before {
        content: "";
        background-image: url(../img/pattern2.png);
        background-position: left top;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.footer {
    &__top {
        padding: 50px 60px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
        background-image: url(../img/pattern3.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
        display: flex;
        &__text {
            width: 50%;
            h2 {
                font-size: 1.75rem;
                color: $textSecondColor;
            }
        }
        &__form {
            flex: 1;
            form {
                display: flex;
                border-radius: 0.5rem;
                box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
                input {
                    padding: 20px;
                    font-size: 15px;
                    font-weight: 400;
                    color: #888;
                    background: #fff;
                    flex: 1;
                    border-radius: 0.5rem 0 0 0.5rem;
                    border: 1px solid #fff;
                    outline: 0;
                    transition: all .5s;
                }
                button {
                    padding: 20px 35px;
                    font-size: 20px;
                    background-image: $bgImgMain;
                    background-size: 200%;
                    border-color: transparent;
                    transition: all 0.5s;
                    border-radius: 0 0.5rem 0.5rem 0;
                    color: #fff;
                    cursor: pointer;
                    &:hover {
                        background-position: right center;
                    }
                }
            }
        }
    }
    &__bot {
        display: flex;
        padding: 70px 0;
        position: relative;
        &__item {
            width: 25%;
            li {
                padding: 0.5rem 0;
                a {
                    font-size: 1rem;
                    transition: 0.5s;
                    i {
                        margin-right: 10px;
                    }
                    &:hover {
                        color: $textWhite;
                    }
                }
            }
            h3 {
                color: #fff;
                font-size: 1.5rem;
                font-weight: 700;
                padding-bottom: 10px;
                margin-bottom: 30px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 5.2%;
                    height: 4px;
                    border-radius: 20px;
                    background: $bgImgMain;
                    background-size: 200%;
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 7%;
                    width: 15.5%;
                    height: 4px;
                    border-radius: 20px;
                    background: $bgImgMain;
                    background-size: 200%;
                }
            }
            &__contact {
                li {
                    display: flex;
                    align-items: center;
                    i {
                        margin-right: 10px;
                        width: 40px;
                        height: 40px;
                        background: $bgImgMain;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 40px;
                    }
                }
            }
        }
    }
    &__copyright {
        background-color: #1f343b;
        padding: 10px 0;
        // position: relative;
    }
}

.copyright__content {
    display: flex;
    justify-content: space-between;
    line-height: 32px;
    &__left {
        span {
            a {
                color: $textPrimaryColor;
                font-weight: bold;
            }
        }
    }
    &__Right {
        a {
            display: inline-block;
            width: 32px;
            height: 32px;
            text-align: center;
            border-radius: 50%;
            line-height: 32px;
            color: #fff;
            background-color: rgba(255, 255, 255, .1);
            transition: all 0.5s;
            &:hover {
                background-color: $textPrimaryColor;
            }
        }
    }
}